.box{
    height: 60vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sentence{
    font-size: 45px;;
}
.plot{
    display:flex;
    flex-direction: row;
    gap: 220px;
    
}
.video{
    position: sticky ;
}
